/bootstrap/compiled.php
/vendor
/vendor/*
/public/vendor
/public/storage
composer.phar
composer.lock
.env.*
.env.php
.env
.DS_Store
Thumbs.db
/nbproject
.idea
/config
/config/*
/tests
/tests/*
/chatbox/node_modules
bdd.js