
header #navbarDropdown.nav-link{
    padding: 0 1rem;
}

header .dropdown-menu{
    left: auto;
    right: 0;
}

.pictureAccountTemplate{
    width: 50px;
    display: inline-block;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    vertical-align: bottom;
    cursor: pointer;
    vertical-align: middle;
}

.ui-state-active{
    background-color: transparent !important;
    border: 0 !important;
    margin: 0 !important;
}
.results_picture{
    width: 60px;
}