html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#responsive_slider{
    height: 10%;
}

#zone_chat, #zone_users{
    width: 100%;
    background: #c2c1c240;
    color: #6e6779;
    height: 70%;
    padding: 5px 5px 0;
    font-size: 12px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

#zone_chat p:first-of-type {
    text-align: center;
}

.white{
    color: white;
}
.orange{
    color: #ba9b0c;
}

.black{
    color: black;
}

.user_viewer{
    color: black;
}

.user_ban{
    color: red;
    text-decoration: line-through;
}

.user_mod{
    color: green;
    font-weight: bold;
}

.user_streamer{
    color: orange;
    font-weight: bold;    
}

.green{
    color: green;
}

.yellow{
    color: yellow;
}

#zone_users a:hover {
    color: inherit;
}

form#formulaire_chat{
    height: 15%;
    position: relative;
}

.chat_user{
    font-size: 18px;
    padding: 0 5px;
    margin: 0 10px;
    color: darkviolet;
}

.chat_avatar{
    width: 30px;
    vertical-align: middle;
    padding-right: 0px;
}

.streamer{
    color: black;
}

.mod{
    background-color: #0ccebc;
    color: green;
}

.chat_message{
    font-size: 18px;
}

textarea{
    height: 100%;
    padding: 0;
    min-width:50%;
    width: 80%;
    max-width: 80%;
    vertical-align: middle;
}

.delete{
    padding: 10px;
    vertical-align: middle;
    color: red;
}

.delete:hover{
    cursor: pointer;
}
.send {
    position: absolute;
    right: 1%;
    top: 23%;
    width: 70px;
    height: 40px;
    transform: translateY(-50%);
    background: #7e27ff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 5px;
    color: #fff;
    border: 0 none;
    outline: 0 none;
    font-size: 13px;
    cursor: pointer;
}

/* The slider itself */
#responsive_slider .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    padding: 0;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
#responsive_slider .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
#responsive_slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50%; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(86, 27, 141); /* Violet background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 0.25rem;
}

#responsive_slider .slider::-moz-range-thumb {
    width: 50%; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(86, 27, 141); /* Violet background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 0.25rem;
}
textarea{
    outline: none;
    outline-style: none;
    border: 0.2 solid gray;
    box-shadow: none;
    height: 40px;
}